.card {
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #EBFFFC;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .section:not(:last-child) {
    margin-bottom: 3rem;
  }
  